.idea
.venv
.vscode/
**/.idea
**/*.swp
**/.DS_Store

logs/*
langchain_rag-master/logs/*
langchain_rag-master/data/*
langchain_rag-master/parser_data/*
langchain_rag-master/user_data/*
langchain_rag-master/url_parser/temp_url_files/*

rag-es-server-unify/logs/*
minio_project/logs/*
**/*.log
*.log
**/*nohup.out
*nohup.out

.env

*/__pycache__/*
**/__pycache__/**
**/.ipynb_checkpoints

*.pyc
langchain_rag-master/__pycache__/*
langchain_rag-master/chains/__pycache__/*
langchain_rag-master/models/__pycache__/*
langchain_rag-master/models/base/__pycache__/*
langchain_rag-master/models/loader/__pycache__/*
langchain_rag-master/textsplitter/__pycache__/*
langchain_rag-master/utils/__pycache__/*

rag-es-server-unify/__pycache__/*
rag-es-server-unify/config/__pycache__/*
rag-es-server-unify/utils/__pycache__/*
*.spec

build/*
opt/*
convert/*
langchain_rag-master/*_xml/**
test_minio.py
