.idea
.venv
.vscode/
**/.idea
**/*.swp
**/.DS_Store

logs/*
rag_core/logs/*
rag_core/data/*
rag_core/parser_data/*
rag_core/user_data/*
rag_core/graph/data/*
rag_core/url_parser/temp_url_files/*

rag_es_server_unify/logs/*
minio_project/logs/*
**/*.log
*.log
**/*nohup.out
*nohup.out

.env

*/__pycache__/*
**/__pycache__/**
**/.ipynb_checkpoints

*.pyc
rag_core/__pycache__/*
rag_core/chains/__pycache__/*
rag_core/models/__pycache__/*
rag_core/models/base/__pycache__/*
rag_core/models/loader/__pycache__/*
rag_core/textsplitter/__pycache__/*
rag_core/utils/__pycache__/*

rag_es_server_unify/__pycache__/*
rag_es_server_unify/config/__pycache__/*
rag_es_server_unify/utils/__pycache__/*
*.spec

build/*
opt/*
convert/*
rag_core/*_xml/**
test_minio.py
