// 主题色
$color: #384BF7 ;// 整体主题色（ 蓝：#6B80DF）
$color_opacity: #E8EAFD; // 主题色透明
$color_highlight: $color; // 文本高亮色
$select_active_bg: $color_opacity; // 下拉点击选中色
$content_bg: linear-gradient( 180deg, #EEF2FA 0%, #EFF3FA 27%, #FFFFFF 100%);
$btn_bg: #384BF7;
$color_title: #434C6C; // 表头、重点突出文字颜色
$border_color: #98A6E9; // 选中边框颜色