/*
    只需要修改 $color 变量，网页整体风格将变动为改主题色，包括按钮，背景等等～～
*/

// 主题色
$color: #D33A3A;// 整体主题色（红：#D33A3A)
$color_opacity: #FFF1F1; // 主题色透明
$color_highlight: $color; // 文本高亮色
$select_active_bg: $color_opacity; // 下拉点击选中色
$content_bg: linear-gradient( 180deg, rgba(241,241,241,0.73) 0%, #FFFFFF 91%);
$btn_bg: #D33A3A;
$color_title: #434343;
$border_color: #D33A3A; // 选中边框颜色