
[loggers]
keys=root, ttslogger

[handlers]
keys=fileHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=fileHandler

[logger_ttslogger]
level=DEBUG
handlers=fileHandler
qualname=ttslogger
propagate=0

[handler_fileHandler]
class=FileHandler
args=('tts.log', 'a')
level=DEBUG
formatter=simpleFormatter

[formatter_simpleFormatter]
format={asctime} {module} {levelname} {message}
style={
datefmt=
