.app-card {
    display: flex;
    gap: 20px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 20px;
    .smart{
        position: relative;
        display: inline-flex;
        width: calc((100% - 60px)/4);
        min-width: 260px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
        border-radius: 8px;
        cursor: pointer;
        height: 150px;
        .tags{
            position: absolute;
            bottom: 10px;
            left: 0;
            height: 28px;
            width: 100%;
            padding: 10px 10px 10px 20px;
            border-top: 1px solid #ededed;
            color: #88888B;
            .favorite-wrap {
                float: right;
            }
            .favorite {
                width: 18px;
            }
        }
        .tag-img {
            position: absolute;
            width: 8px;
            right: -8px;
            top: 37px;
            z-index: 10;
        }
        .tag-app {
            position: absolute;
            right: -8px;
            top: 17px;
            background: #B3A7FF;
            padding: 0 8px;
            line-height: 20px;
            color: #fff;
        }
        .tag-app.agent-tag {
            background: #FF85C0;
        }
        .tag-app.workflow-tag {
            background: #B3A7FF;
        }
        .tag-app.rag-tag {
            background: #FFD666;
        }
        .logo{
            width: 60px;
            height: 60px;
            object-fit: contain;
            margin-right: 12px;
            padding: 10px 5px;
            background: #FFFFFF;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
            border-radius: 8px;
            border: 0 solid #D9D9D9;
        }
        .info{
            width: 0;
            flex: 1;
            color: #666;
            padding-right: 40px;
            position: relative;
        }
        .name-wrap {
            display: flex;
            align-items: flex-start;
            .published-icon {
                padding: 5px 5px 0 2px;
                font-size: 15px;
                color: #5cbb7a;
            }
        }
        .name{
            font-weight: bold;
            color: #434343;
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            position: relative;
            word-break: break-all;
            float: left;
        }
        .desc{
            width: 100%;
            text-align: left;
            margin-top: 5px;
            color: #88888B;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
        }
        .date{
            text-align: right;
        }
        .editor{
            position: absolute;
            right: 5px;
            bottom: 0;
            padding: 0 5px 10px 20px;
            .icon{
                cursor: pointer;
                padding: 2px;
                margin-left: 10px;
            }
            .del-icon{
                cursor: pointer;
                padding: 2px;
                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
    .el-icon-more:hover {
        color: $color;
    }
}
.noData {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    /deep/ .el-empty__description p {
        color: #B3B1BC;
    }
}