.full-content{
  overflow: hidden;
}
.disabled{
  .chat-item{
    cursor: not-allowed!important;
  }

}
.el-aside{
  height: 100%;
  padding: 10px 0;
  border-right: 1px solid #e2e2e2;
  background-color: #fafafa;
  .add-bt{
    width: calc(100% - 40px);
    margin: 20px;
  }
  .chat-item{
    position: relative;
    padding: 12px 20px 12px 26px;
    cursor: pointer;
    .title{
      width: 140px;
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
    }
    .time{
      color: #999;
      line-height: 20px;
      font-size: 12px;
    }
    .del-icon{
      position: absolute;
      right: 15px;
      top:46px;
      margin: auto;
      color: #E60001;
    }
    &::before{
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 3px;
      position: absolute;
      left: 10px;
      background: #999;
      top: 25px;
    }
  }
  .chat-item-active{
    background-color: #fff1e9;
    &::before{
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 3px;
      position: absolute;
      left: 10px;
      background: #E60001;
      top: 25px;
    }
  }
}
.el-main{
  overflow:auto;
  height: 100%;
  // background-color: #fff;
  border-radius:6px;
  padding: 20px;
  .smart-center{
    position: relative;
    flex:1;
    min-width: 0;
    height: 100%;
    padding: 0 20px;
    /*回显*/
    .echo{
      word-break: break-all;
      height: calc(100% - 100px);
      overflow-y: auto;
      padding: 0 20px;
    }
    .center-session{
      height: calc(100% - 110px);
      padding:0;
      /deep/.history-box{
        height: calc(100% - 76px);
        overflow-y: scroll;
        padding: 0 20px;
      }
    }
    .center-editable{
      position: absolute;
      bottom: 0;
      width: auto;
      left: 40px;
      right: 40px;
      margin: auto;
    }
  }
}
.drawer-box{
  height: 100%;
  .drawer-icon-box{
    width: 30px;
    height: 100%;
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    .arrow-icon{
      padding: 26px 10px;
      font-size: 14px;
      background: #fff;
      border-radius: 20px 0 0 20px;
      cursor: pointer;
      box-shadow: 1px 1px 10px #d2d2d2;
      color: #333;
      &:hover{
        background-color: #6495ed;
        color: #fff;
      }
    }
  }
  .drawer{
    width: 300px;
    height: 100%;
    background-color: #fafafa;
    border-left: 1px solid #e2e2e2;
    padding: 0 10px;
    .drawer-title{
      padding: 20px 10px;
      .close-icon{
        float: right;
        cursor: pointer;
        padding: 4px;
        &:hover{
          background-color: #f0f4f9;
          border-radius: 50%;
        }
      }
    }
    .drawer-content{
      overflow: auto;
      height: calc(100% - 80px);
      .reminder-item{
        display: inline-block;
        width: calc(50% - 10px);
        margin: 0 5px 10px 5px;
        background-color: #f0f4f9;
        border-radius: 4px;
        padding: 10px;
        cursor: pointer;
        .reminder-item-title{
          font-weight: bold;
          font-size: 12px;
          line-height: 24px;
        }
        .reminder-item-desc{
          line-height: 26px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          font-size: 12px;
        }
      }
      .reminder-item:hover{
        background-color: #d8e9ff;
      }
    }

  }
}
.stop-box{
  position: absolute;
  width: 100%;
  top: -34px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: #444;
  .stop{
    cursor: pointer;
    &:hover{
      color: #111;
    }
  }
  .stop-icon{
    height: 20px;
    object-fit: contain;
    margin: 0 5px;
  }
  .mdl{
    vertical-align: middle;
  }
}

