.DS_Store
node_modules
/dist
/aibase
aibase.zip
dist.zip


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# lock.json
package-lock.json
pnpm-lock.yaml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
jsconfig.json